.contactContainer {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: aliceblue;
    max-width: 300px;
}

.nameBox {
    display: flex;
    align-items: center;
    gap:5px;
}

.nameSize {
    font-size: 12px;
    text-wrap: wrap;
    word-break:break-all;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.buttonFrame {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #233142;
    color: aliceblue;
}

.buttonFrame:hover,
.buttonFrame:focus {
    background-color: #455d7a;
    outline: none;
    border: 1px solid #455d7a;
}

.buttonFrame:active {
    box-shadow: none;
}

@media screen and (min-width: 768px) {

    .contactContainer {
        max-width: 600px;
    }

    .nameSize {
        font-size: 20px;
    }
}